// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {

  padding-top: 0px;

}

#nested-comment:nth-of-type(1) {

  margin-top: 60px;

}

.comment-reply {

  display: none;

}
